@tailwind base;
@tailwind components;
@tailwind utilities;

#hamburgerOption{
	color: #fff !important;
}

#download
{
	color: #222 !important;
}


html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans,Fira Code, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #fff !important;
}

a {
	color: black;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Fira Code', sans-serif !important;
	color: black;
}
